data/003/EMB_ESM1b/
data/003/NPZ/*.npz
data/003/FASTA/
data/003/CSV/
data/003/TSV/
data/003/slurm/
data/003/TXT/
data/004/EMB_ESM1b/
data/004/slurm/
data/004/*.numbers
data/004/FASTA/
data/004/NPZ/
data/004/TSV/

data/CRISPR/FASTA/C2EP_kmers_1022/C2EP_kmers.part-*
data/CRISPR/FASTA/C2EP_kmers_600/*
data/CRISPR/NPZ/
data/CRISPR/TSV/
data/CRISPR/slurm/
data/CRISPR/C2EP_training_v2_matches.res
data/CRISPR/EMB_ESM1b/
data/CRISPR/FASTA/C2EP/C2EP_with_stop.fasta
data/CRISPR/FASTA/Cas12?/

.profile
scripts/__pycache__/

thermoclass/__pycache__/
thermoclass/emb/

.ipynb_checkpoints/
The_COINS/
data/001/EMB_ESM1b/
data/002/CSV/
data/002/FASTA/
data/003/proteome_TaxIDs_UniParc_IDs.tsv
data/CRISPR/C2EP.csv
data/cluster_tests/001/EMB_ESM1b/
data/cluster_tests/001/FASTA/001_
data/cluster_tests/002/EMB_ESM1b/
data/cluster_tests/003/EMB_ESM1b/
data/cluster_tests/004/EMB_ESM1b/
data/cluster_tests/005/FASTA/
esm/
literature/
notes/
thesis/course_work_template_vu_mif_se-master/
scripts/.Rhistory
scripts/r_analysis.Rmd
data/temp_range_data.numbers
results/SLP/window_prediction_plots_sorted_by_max_min_difference-2.pdf
results/SLP/window_prediction_plots_sorted_by_max_min_difference.pdf
EEML/

thermoclass/emb/
thermoclass/predictions/
thermoclass/predictions/PNG/*.png
thermoclass/*.fasta
thermoclass/predictions/FASTA/*.fasta
thermoclass/FASTA/*.fasta
thermoclass/slurm/*.out
thermoclass/PDB/
thermoclass/XML/
thermoclass/analysis/
thermoclass/SH/
